{{ define "main" }} 
    <div class="page-body-container">
    {{ $excluded_pages := slice "/users" "/categories" "/tags" "/extra"}}
    {{ range $page := .Site.Pages }}
        {{ $excluded := false }}
        {{ range $excluded_pages }}
            {{ if in $page.RelPermalink . }}
                {{ $excluded = true }}
            {{ else if eq $page.RelPermalink "/page/" }}
                {{ $excluded = true }}
            {{ else if eq $page.RelPermalink "/" }}
                {{ $excluded = true }} {{ end }}
        {{ end }}
        {{ if not $excluded }}
            <div class="card-container">
                <section class="card-heading">
                    <h1>
                        {{ .Title }}
                    </h1>
                </section>
                <article class="card-body">
                    {{ if .Params.summary }} 
                        <p>{{ .Params.summary | safeHTML }}</p>
                    {{ else }}
                        <p>Generic Descriptions</p>
                    {{ end }} 
                </article>
                <section class="card-footer">
                    <div class="tag-container">
                        {{ if .Params.tags }}
                            {{ range .Params.tags }}
                                <div class="post-tag"> 
                                    {{ . }}
                                </div>
                            {{ end }}
                        {{ else }}
                            <div class="post-tag"> 
                                General 
                            </div>
                        {{ end }}
                    </div>
                   <a class="read-more-btn" href="{{ .RelPermalink }}">Read More</a>
               </section>
            </div>
        {{ end }}
    {{ end }}
    </div>
{{ end }}

